In [1]:
import pandas as pd
import numpy as np

In [2]:
#df = pd.read_csv("/home/dsg/META_MODEL_APP/DATA/XRD_training_raw.csv")
df = pd.read_csv("/home/dsg/META_MODEL_APP/FINAL/DATA/MACLAS_dataset.csv") #directorio de trabajo

In [3]:
df= df.drop_duplicates(subset=['Name'], keep='first')
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1262 entries, 0 to 1265
Data columns (total 176 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                1262 non-null   object
 1   Site                1257 non-null   object
 2   Tipo de Yacimiento  373 non-null    object
 3   Context             321 non-null    object
 4   Contexto 1          58 non-null     object
 5   Contexto 2          41 non-null     object
 6   Millennium BCE      714 non-null    object
 7   Type                1262 non-null   object
 8   XRD_MIN_            1262 non-null   object
 9   XRD_MIN_2           204 non-null    object
 10  XRD_MIN_3           53 non-null     object
 11  XRD_MIN_4           4 non-null      object
 12  target              1262 non-null   object
 13  Duration            1256 non-null   object
 14  Mg                  882 non-null    float64
 15  +/-                 886 non-null    float64
 16  Al                  1251 non-null   float64
 17  +/-.1               1259 non-null   float64
 18  Si                  1259 non-null   float64
 19  +/-.2               1259 non-null   float64
 20  P                   1251 non-null   float64
 21  +/-.3               1249 non-null   float64
 22  S                   1255 non-null   float64
 23  +/-.4               1257 non-null   float64
 24  Cl                  1259 non-null   float64
 25  +/-.5               1259 non-null   float64
 26  Ar                  11 non-null     float64
 27  +/-.6               0 non-null      float64
 28  K                   523 non-null    float64
 29  +/-.7               527 non-null    float64
 30  Ca                  1224 non-null   float64
 31  +/-.8               1231 non-null   float64
 32  Sc                  11 non-null     float64
 33  +/-.9               0 non-null      float64
 34  Ti                  1202 non-null   float64
 35  +/-.10              1211 non-null   float64
 36  V                   607 non-null    float64
 37  +/-.11              605 non-null    float64
 38  Cr                  1090 non-null   float64
 39  +/-.12              1086 non-null   float64
 40  Mn                  197 non-null    float64
 41  +/-.13              195 non-null    float64
 42  Fe                  1248 non-null   float64
 43  +/-.14              1258 non-null   float64
 44  Co                  120 non-null    float64
 45  +/-.15              110 non-null    float64
 46  Ni                  172 non-null    float64
 47  +/-.16              171 non-null    float64
 48  Cu                  474 non-null    float64
 49  +/-.17              482 non-null    float64
 50  Zn                  560 non-null    float64
 51  +/-.18              559 non-null    float64
 52  Ga                  7 non-null      float64
 53  +/-.19              0 non-null      float64
 54  Ge                  0 non-null      float64
 55  +/-.20              0 non-null      float64
 56  As                  832 non-null    float64
 57  +/-.21              840 non-null    float64
 58  Se                  204 non-null    float64
 59  +/-.22              198 non-null    float64
 60  Br                  2 non-null      float64
 61  +/-.23              0 non-null      float64
 62  Kr                  0 non-null      float64
 63  +/-.24              0 non-null      float64
 64  Rb                  244 non-null    float64
 65  +/-.25              245 non-null    float64
 66  Sr                  815 non-null    float64
 67  +/-.26              822 non-null    float64
 68  Y                   8 non-null      float64
 69  +/-.27              0 non-null      float64
 70  Zr                  924 non-null    float64
 71  +/-.28              931 non-null    float64
 72  Nb                  7 non-null      float64
 73  +/-.29              0 non-null      float64
 74  Mo                  575 non-null    float64
 75  +/-.30              583 non-null    float64
 76  Tc                  8 non-null      float64
 77  +/-.31              0 non-null      float64
 78  Ru                  0 non-null      float64
 79  +/-.32              0 non-null      float64
 80  Rh                  0 non-null      float64
 81  +/-.33              0 non-null      float64
 82  Pd                  0 non-null      float64
 83  +/-.34              0 non-null      float64
 84  Ag                  241 non-null    float64
 85  +/-.35              242 non-null    float64
 86  Cd                  87 non-null     float64
 87  +/-.36              89 non-null     float64
 88  In                  3 non-null      float64
 89  +/-.37              0 non-null      float64
 90  Sn                  483 non-null    float64
 91  +/-.38              489 non-null    float64
 92  Sb                  245 non-null    float64
 93  +/-.39              240 non-null    float64
 94  Te                  1 non-null      float64
 95  +/-.40              0 non-null      float64
 96  I                   0 non-null      float64
 97  +/-.41              0 non-null      float64
 98  Xe                  0 non-null      float64
 99  +/-.42              0 non-null      float64
 100 Cs                  0 non-null      float64
 101 +/-.43              0 non-null      float64
 102 Ba                  385 non-null    float64
 103 +/-.44              391 non-null    float64
 104 La                  6 non-null      float64
 105 +/-.45              0 non-null      float64
 106 Ce                  0 non-null      float64
 107 +/-.46              0 non-null      float64
 108 Pr                  0 non-null      float64
 109 +/-.47              0 non-null      float64
 110 Nd                  0 non-null      float64
 111 +/-.48              0 non-null      float64
 112 Pm                  0 non-null      float64
 113 +/-.49              0 non-null      float64
 114 Sm                  0 non-null      float64
 115 +/-.50              0 non-null      float64
 116 Eu                  0 non-null      float64
 117 +/-.51              0 non-null      float64
 118 Gd                  0 non-null      float64
 119 +/-.52              0 non-null      float64
 120 Tb                  0 non-null      float64
 121 +/-.53              0 non-null      float64
 122 Dy                  0 non-null      float64
 123 +/-.54              0 non-null      float64
 124 Ho                  0 non-null      float64
 125 +/-.55              0 non-null      float64
 126 Er                  0 non-null      float64
 127 +/-.56              0 non-null      float64
 128 Tm                  0 non-null      float64
 129 +/-.57              0 non-null      float64
 130 Yb                  0 non-null      float64
 131 +/-.58              0 non-null      float64
 132 Lu                  0 non-null      float64
 133 +/-.59              0 non-null      float64
 134 Hf                  0 non-null      float64
 135 +/-.60              0 non-null      float64
 136 Ta                  614 non-null    float64
 137 +/-.61              615 non-null    float64
 138 W                   44 non-null     float64
 139 +/-.62              43 non-null     float64
 140 Re                  0 non-null      float64
 141 +/-.63              0 non-null      float64
 142 Os                  0 non-null      float64
 143 +/-.64              0 non-null      float64
 144 Ir                  0 non-null      float64
 145 +/-.65              0 non-null      float64
 146 Pt                  0 non-null      float64
 147 +/-.66              0 non-null      float64
 148 Au                  54 non-null     float64
 149 +/-.67              54 non-null     float64
 150 Hg                  33 non-null     float64
 151 +/-.68              33 non-null     float64
 152 Tl                  200 non-null    float64
 153 +/-.69              201 non-null    float64
 154 Pb                  87 non-null     float64
 155 +/-.70              86 non-null     float64
 156 Bi                  0 non-null      float64
 157 +/-.71              0 non-null      float64
 158 Po                  0 non-null      float64
 159 +/-.72              0 non-null      float64
 160 At                  0 non-null      float64
 161 +/-.73              0 non-null      float64
 162 Rn                  0 non-null      float64
 163 +/-.74              0 non-null      float64
 164 Fr                  0 non-null      float64
 165 +/-.75              0 non-null      float64
 166 Ra                  0 non-null      float64
 167 +/-.76              0 non-null      float64
 168 Ac                  0 non-null      float64
 169 +/-.77              0 non-null      float64
 170 Th                  2 non-null      float64
 171 +/-.78              2 non-null      float64
 172 Pa                  0 non-null      float64
 173 +/-.79              0 non-null      float64
 174 U                   0 non-null      float64
 175 +/-.80              0 non-null      float64
dtypes: float64(162), object(14)
memory usage: 1.7+ MB

 Performing a basic dimensional reduction by eliminating columns containing the "+/-" character.

In [4]:
#Dimensional reduction 
df = df.loc[:, ~df.columns.str.startswith('+/-')]
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1262 entries, 0 to 1265
Data columns (total 95 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                1262 non-null   object
 1   Site                1257 non-null   object
 2   Tipo de Yacimiento  373 non-null    object
 3   Context             321 non-null    object
 4   Contexto 1          58 non-null     object
 5   Contexto 2          41 non-null     object
 6   Millennium BCE      714 non-null    object
 7   Type                1262 non-null   object
 8   XRD_MIN_            1262 non-null   object
 9   XRD_MIN_2           204 non-null    object
 10  XRD_MIN_3           53 non-null     object
 11  XRD_MIN_4           4 non-null      object
 12  target              1262 non-null   object
 13  Duration            1256 non-null   object
 14  Mg                  882 non-null    float64
 15  Al                  1251 non-null   float64
 16  Si                  1259 non-null   float64
 17  P                   1251 non-null   float64
 18  S                   1255 non-null   float64
 19  Cl                  1259 non-null   float64
 20  Ar                  11 non-null     float64
 21  K                   523 non-null    float64
 22  Ca                  1224 non-null   float64
 23  Sc                  11 non-null     float64
 24  Ti                  1202 non-null   float64
 25  V                   607 non-null    float64
 26  Cr                  1090 non-null   float64
 27  Mn                  197 non-null    float64
 28  Fe                  1248 non-null   float64
 29  Co                  120 non-null    float64
 30  Ni                  172 non-null    float64
 31  Cu                  474 non-null    float64
 32  Zn                  560 non-null    float64
 33  Ga                  7 non-null      float64
 34  Ge                  0 non-null      float64
 35  As                  832 non-null    float64
 36  Se                  204 non-null    float64
 37  Br                  2 non-null      float64
 38  Kr                  0 non-null      float64
 39  Rb                  244 non-null    float64
 40  Sr                  815 non-null    float64
 41  Y                   8 non-null      float64
 42  Zr                  924 non-null    float64
 43  Nb                  7 non-null      float64
 44  Mo                  575 non-null    float64
 45  Tc                  8 non-null      float64
 46  Ru                  0 non-null      float64
 47  Rh                  0 non-null      float64
 48  Pd                  0 non-null      float64
 49  Ag                  241 non-null    float64
 50  Cd                  87 non-null     float64
 51  In                  3 non-null      float64
 52  Sn                  483 non-null    float64
 53  Sb                  245 non-null    float64
 54  Te                  1 non-null      float64
 55  I                   0 non-null      float64
 56  Xe                  0 non-null      float64
 57  Cs                  0 non-null      float64
 58  Ba                  385 non-null    float64
 59  La                  6 non-null      float64
 60  Ce                  0 non-null      float64
 61  Pr                  0 non-null      float64
 62  Nd                  0 non-null      float64
 63  Pm                  0 non-null      float64
 64  Sm                  0 non-null      float64
 65  Eu                  0 non-null      float64
 66  Gd                  0 non-null      float64
 67  Tb                  0 non-null      float64
 68  Dy                  0 non-null      float64
 69  Ho                  0 non-null      float64
 70  Er                  0 non-null      float64
 71  Tm                  0 non-null      float64
 72  Yb                  0 non-null      float64
 73  Lu                  0 non-null      float64
 74  Hf                  0 non-null      float64
 75  Ta                  614 non-null    float64
 76  W                   44 non-null     float64
 77  Re                  0 non-null      float64
 78  Os                  0 non-null      float64
 79  Ir                  0 non-null      float64
 80  Pt                  0 non-null      float64
 81  Au                  54 non-null     float64
 82  Hg                  33 non-null     float64
 83  Tl                  200 non-null    float64
 84  Pb                  87 non-null     float64
 85  Bi                  0 non-null      float64
 86  Po                  0 non-null      float64
 87  At                  0 non-null      float64
 88  Rn                  0 non-null      float64
 89  Fr                  0 non-null      float64
 90  Ra                  0 non-null      float64
 91  Ac                  0 non-null      float64
 92  Th                  2 non-null      float64
 93  Pa                  0 non-null      float64
 94  U                   0 non-null      float64
dtypes: float64(81), object(14)
memory usage: 946.5+ KB

Then we create an intermediate dataframe filtering only the columns with information of our interest

In [5]:
contextual_info = df.iloc[:, :14]
filter_df = df.iloc[:, 14:] 
filter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1262 entries, 0 to 1265
Data columns (total 81 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mg      882 non-null    float64
 1   Al      1251 non-null   float64
 2   Si      1259 non-null   float64
 3   P       1251 non-null   float64
 4   S       1255 non-null   float64
 5   Cl      1259 non-null   float64
 6   Ar      11 non-null     float64
 7   K       523 non-null    float64
 8   Ca      1224 non-null   float64
 9   Sc      11 non-null     float64
 10  Ti      1202 non-null   float64
 11  V       607 non-null    float64
 12  Cr      1090 non-null   float64
 13  Mn      197 non-null    float64
 14  Fe      1248 non-null   float64
 15  Co      120 non-null    float64
 16  Ni      172 non-null    float64
 17  Cu      474 non-null    float64
 18  Zn      560 non-null    float64
 19  Ga      7 non-null      float64
 20  Ge      0 non-null      float64
 21  As      832 non-null    float64
 22  Se      204 non-null    float64
 23  Br      2 non-null      float64
 24  Kr      0 non-null      float64
 25  Rb      244 non-null    float64
 26  Sr      815 non-null    float64
 27  Y       8 non-null      float64
 28  Zr      924 non-null    float64
 29  Nb      7 non-null      float64
 30  Mo      575 non-null    float64
 31  Tc      8 non-null      float64
 32  Ru      0 non-null      float64
 33  Rh      0 non-null      float64
 34  Pd      0 non-null      float64
 35  Ag      241 non-null    float64
 36  Cd      87 non-null     float64
 37  In      3 non-null      float64
 38  Sn      483 non-null    float64
 39  Sb      245 non-null    float64
 40  Te      1 non-null      float64
 41  I       0 non-null      float64
 42  Xe      0 non-null      float64
 43  Cs      0 non-null      float64
 44  Ba      385 non-null    float64
 45  La      6 non-null      float64
 46  Ce      0 non-null      float64
 47  Pr      0 non-null      float64
 48  Nd      0 non-null      float64
 49  Pm      0 non-null      float64
 50  Sm      0 non-null      float64
 51  Eu      0 non-null      float64
 52  Gd      0 non-null      float64
 53  Tb      0 non-null      float64
 54  Dy      0 non-null      float64
 55  Ho      0 non-null      float64
 56  Er      0 non-null      float64
 57  Tm      0 non-null      float64
 58  Yb      0 non-null      float64
 59  Lu      0 non-null      float64
 60  Hf      0 non-null      float64
 61  Ta      614 non-null    float64
 62  W       44 non-null     float64
 63  Re      0 non-null      float64
 64  Os      0 non-null      float64
 65  Ir      0 non-null      float64
 66  Pt      0 non-null      float64
 67  Au      54 non-null     float64
 68  Hg      33 non-null     float64
 69  Tl      200 non-null    float64
 70  Pb      87 non-null     float64
 71  Bi      0 non-null      float64
 72  Po      0 non-null      float64
 73  At      0 non-null      float64
 74  Rn      0 non-null      float64
 75  Fr      0 non-null      float64
 76  Ra      0 non-null      float64
 77  Ac      0 non-null      float64
 78  Th      2 non-null      float64
 79  Pa      0 non-null      float64
 80  U       0 non-null      float64
dtypes: float64(81)
memory usage: 808.5 KB

Appling a 20% threshold of NaN values for delete columns

In [6]:
nan_treshold = 0.80  
cases = len(df) 

# iterate over each column of filter_df and eliminate those that exceed the limit of missing values
for col in filter_df.columns:
    missing_values = filter_df[col].isnull().sum()  # missinig values in each column
    missing_values_percentage = missing_values / cases  # precentage of NaN 

     #drop a column if NaN is greater than 20%
    if missing_values_percentage > nan_treshold:
        del filter_df[col]

In [7]:
filter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1262 entries, 0 to 1265
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mg      882 non-null    float64
 1   Al      1251 non-null   float64
 2   Si      1259 non-null   float64
 3   P       1251 non-null   float64
 4   S       1255 non-null   float64
 5   Cl      1259 non-null   float64
 6   K       523 non-null    float64
 7   Ca      1224 non-null   float64
 8   Ti      1202 non-null   float64
 9   V       607 non-null    float64
 10  Cr      1090 non-null   float64
 11  Fe      1248 non-null   float64
 12  Cu      474 non-null    float64
 13  Zn      560 non-null    float64
 14  As      832 non-null    float64
 15  Sr      815 non-null    float64
 16  Zr      924 non-null    float64
 17  Mo      575 non-null    float64
 18  Sn      483 non-null    float64
 19  Ba      385 non-null    float64
 20  Ta      614 non-null    float64
dtypes: float64(21)
memory usage: 216.9 KB

In [8]:
default_values = {
        'Mg': 0.01,'Al': 0.001,'Si': 0.001,
        'P': 0.001,'S': 0.001,'Cl': 0.001,
        'K': 0.0001,'Ca': 0.0001,'Sc': 0.0001,
        'Ti': 0.0001,'V': 0.0001,'Cr': 0.0001,
        'Mn': 0.0001,'Fe': 0.0001,'Co': 0.0001,
        'Ni': 0.0001,'Cu': 0.00001,'Zn': 0.00001,
        'Ga': 0.00001,'Ge': 0.00001,'As': 0.00001,
        'Se': 0.00001,'Br': 0.00001,'Rb': 0.00001,
        'Sr': 0.00001,'Y': 0.00001,'Zr': 0.00001,
        'Nb': 0.00001,'Mo': 0.00001,'Ru': 0.00001,
        'Pd': 0.00001,'Ag': 0.00001,'Cd': 0.00001,
        'In': 0.00001,'Sn': 0.00001,'Sb': 0.00001,
        'Te': 0.00001,'Ba': 0.00001,'Ta': 0.00001,
        'W': 0.00001,'Au': 0.00001,'Hg': 0.00001,
        'Tl': 0.00001,'Pb': 0.00001,'Th': 0.00001
    }
        


filter_df= filter_df.fillna(default_values)
#filter_df= filter_df.fillna(0)
filter_df.head()

,Mg,Al,Si,P,S,Cl,K,Ca,Ti,V,...,Fe,Cu,Zn,As,Sr,Zr,Mo,Sn,Ba,Ta
0,0.0000,18.8877,4.9946,26.0098,0.1695,0.7546,0.5618,1.8832,0.2618,0.0992,...,8.3415,0.0104,0.0213,0.1508,0.11960,0.00990,0.00640,0.01570,0.09930,0.00001
1,10.2218,0.4553,3.6226,0.8093,0.0525,0.8555,0.0001,2.5375,0.0479,0.0001,...,0.4553,0.0076,17.0000,22.1671,0.00001,0.00820,0.00001,0.03850,0.00001,0.00001
2,16.8766,587.0000,1.1431,0.1313,0.0294,627.0000,0.0001,1.0133,0.0272,0.0001,...,0.1761,0.0192,0.0248,25.0514,0.00001,0.00001,0.00001,0.04050,0.00001,0.00001
3,7.2462,2.8523,5.2053,0.2134,0.0531,0.6414,0.0001,4.0031,0.0664,0.0001,...,0.4583,0.0149,0.0201,22.7625,0.00001,0.00720,0.00001,0.00001,0.00001,0.00001
4,8.0177,2.2545,4.0428,0.2139,0.0464,0.6431,0.0001,3.2294,53.0000,0.0001,...,0.6012,0.0076,17.0000,24.1147,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001

In [9]:
filter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1262 entries, 0 to 1265
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mg      1262 non-null   float64
 1   Al      1262 non-null   float64
 2   Si      1262 non-null   float64
 3   P       1262 non-null   float64
 4   S       1262 non-null   float64
 5   Cl      1262 non-null   float64
 6   K       1262 non-null   float64
 7   Ca      1262 non-null   float64
 8   Ti      1262 non-null   float64
 9   V       1262 non-null   float64
 10  Cr      1262 non-null   float64
 11  Fe      1262 non-null   float64
 12  Cu      1262 non-null   float64
 13  Zn      1262 non-null   float64
 14  As      1262 non-null   float64
 15  Sr      1262 non-null   float64
 16  Zr      1262 non-null   float64
 17  Mo      1262 non-null   float64
 18  Sn      1262 non-null   float64
 19  Ba      1262 non-null   float64
 20  Ta      1262 non-null   float64
dtypes: float64(21)
memory usage: 216.9 KB

Transforming values into atomic percentages by dividing each column value by the atomic weight of its element.

In [10]:
atomic_weights = {
        'Mg': 24.305,'Al': 26.982,'Si': 28.085,'P': 30.974,
        'S': 32.06,'Cl': 35.45,'K': 39.098,'Ca': 40.078,
        'Sc': 44.955,'Ti': 47.867,'V': 50.942,'Cr': 51.996,
        'Mn': 54.938,'Fe': 55.845,'Co': 58.933,'Ni': 58.693,
        'Cu': 63.546,'Zn': 65.38,'Ga': 69.723,'Ge': 72.63,
        'As': 74.922,'Se': 78.971,'Br': 79.904,'Rb': 85.468,
        'Sr': 87.62,'Y': 88.906,'Zr': 91.224,'Nb': 92.906,
        'Mo': 95.94,'Ru': 101.07,'Pd': 106.42,'Ag': 107.87,
        'Cd': 112.41,'In': 114.82,'Sn': 118.71,'Sb': 121.76,
        'Te': 127.60,'Ba': 137.60,'Ta': 180.95,'W': 183.84,
        'Au': 196.97,'Hg': 200.59,'Tl': 204.38,'Pb': 207.2,
        'Th': 232.04
    } 

# transform into atomic percentages________________________
for col, value in atomic_weights.items():
        try:
            filter_df[col] = filter_df[col] / value 
        except KeyError: # Ignoring if a column is not numeric
            pass

summing up the values of each sample and storing them in the sum variable

In [11]:
filter_df['Σ'] = np.sum(filter_df.iloc[:, :-1].values, axis=1)
filter_df.head()

,Mg,Al,Si,P,S,Cl,K,Ca,Ti,V,...,Cu,Zn,As,Sr,Zr,Mo,Sn,Ba,Ta,Σ
0,0.000000,0.700011,0.177839,0.839730,0.005287,0.021286,0.014369,0.046988,0.005469,0.001947,...,0.000164,0.000326,0.002013,1.364985e-03,1.085241e-04,6.670836e-05,1.322551e-04,7.216570e-04,5.526389e-08,1.971987
1,0.420564,0.016874,0.128987,0.026128,0.001638,0.024133,0.000003,0.063314,0.001001,0.000002,...,0.000120,0.260018,0.295869,1.141292e-07,8.988863e-05,1.042318e-07,3.243198e-04,7.267442e-08,5.526389e-08,1.248156
2,0.694367,21.755244,0.040701,0.004239,0.000917,17.686883,0.000003,0.025283,0.000568,0.000002,...,0.000302,0.000379,0.334366,1.141292e-07,1.096203e-07,1.042318e-07,3.411676e-04,7.267442e-08,5.526389e-08,40.546753
3,0.298136,0.105711,0.185341,0.006890,0.001656,0.018093,0.000003,0.099883,0.001387,0.000002,...,0.000234,0.000307,0.303816,1.141292e-07,7.892660e-05,1.042318e-07,8.423890e-08,7.267442e-08,5.526389e-08,1.029748
4,0.329879,0.083556,0.143949,0.006906,0.001447,0.018141,0.000003,0.080578,1.107235,0.000002,...,0.000120,0.260018,0.321864,1.141292e-07,1.096203e-07,1.042318e-07,8.423890e-08,7.267442e-08,5.526389e-08,2.364464

In [12]:

for col in filter_df.columns:
    if col != 'Σ':
        filter_df[col] = filter_df[col] / filter_df['Σ'] * 100

In [13]:
filter_df = filter_df.drop(['Σ'], axis=1)
filter_df.head()

,Mg,Al,Si,P,S,Cl,K,Ca,Ti,V,...,Fe,Cu,Zn,As,Sr,Zr,Mo,Sn,Ba,Ta
0,0.000000,35.497756,9.018250,42.582944,0.268103,1.079435,0.728657,2.382793,0.277351,0.098749,...,7.574532,0.008299,0.016521,0.102068,6.921877e-02,5.503286e-03,3.382799e-03,0.006707,3.659542e-02,2.802447e-06
1,33.694811,1.351932,10.334209,2.093358,0.131198,1.933459,0.000205,5.072608,0.080173,0.000157,...,0.653198,0.009582,20.832207,23.704500,9.143828e-06,7.201716e-03,8.350867e-06,0.025984,5.822545e-06,4.427644e-06
2,1.712511,53.654714,0.100382,0.010455,0.002262,43.620960,0.000006,0.062356,0.001401,0.000005,...,0.007777,0.000745,0.000936,0.824644,2.814755e-07,2.703553e-07,2.570657e-07,0.000841,1.792361e-07,1.362967e-07
3,28.952358,10.265741,17.998677,0.669062,0.160842,1.757041,0.000248,9.699730,0.134710,0.000191,...,0.796957,0.022770,0.029855,29.503928,1.108322e-05,7.664655e-03,1.012207e-05,0.000008,7.057499e-06,5.366741e-06
4,13.951517,3.533811,6.088006,0.292066,0.061210,0.767237,0.000108,3.407870,46.828142,0.000083,...,0.455305,0.005058,10.996925,13.612559,4.826852e-06,4.636157e-06,4.408264e-06,0.000004,3.073611e-06,2.337269e-06

In [14]:
filter_df['Σ'] = np.sum(filter_df.values, axis=1)
filter_df.head()

,Mg,Al,Si,P,S,Cl,K,Ca,Ti,V,...,Cu,Zn,As,Sr,Zr,Mo,Sn,Ba,Ta,Σ
0,0.000000,35.497756,9.018250,42.582944,0.268103,1.079435,0.728657,2.382793,0.277351,0.098749,...,0.008299,0.016521,0.102068,6.921877e-02,5.503286e-03,3.382799e-03,0.006707,3.659542e-02,2.802447e-06,100.000003
1,33.694811,1.351932,10.334209,2.093358,0.131198,1.933459,0.000205,5.072608,0.080173,0.000157,...,0.009582,20.832207,23.704500,9.143828e-06,7.201716e-03,8.350867e-06,0.025984,5.822545e-06,4.427644e-06,100.000004
2,1.712511,53.654714,0.100382,0.010455,0.002262,43.620960,0.000006,0.062356,0.001401,0.000005,...,0.000745,0.000936,0.824644,2.814755e-07,2.703553e-07,2.570657e-07,0.000841,1.792361e-07,1.362967e-07,100.000000
3,28.952358,10.265741,17.998677,0.669062,0.160842,1.757041,0.000248,9.699730,0.134710,0.000191,...,0.022770,0.029855,29.503928,1.108322e-05,7.664655e-03,1.012207e-05,0.000008,7.057499e-06,5.366741e-06,100.000005
4,13.951517,3.533811,6.088006,0.292066,0.061210,0.767237,0.000108,3.407870,46.828142,0.000083,...,0.005058,10.996925,13.612559,4.826852e-06,4.636157e-06,4.408264e-06,0.000004,3.073611e-06,2.337269e-06,100.000002

Merging preprocessed data with contextual information.

In [16]:
preprocessed_df = pd.concat([contextual_info, filter_df], axis="columns")

preprocessed_df.head()

,Name,Site,Tipo de Yacimiento,Context,Contexto 1,Contexto 2,Millennium BCE,Type,XRD_MIN_,XRD_MIN_2,...,Cu,Zn,As,Sr,Zr,Mo,Sn,Ba,Ta,Σ
0,MP-865,Can Sadurni cova,Cueva,CAT01005,NaN,NaN,5th-3rd,BEAD,Variscite,NaN,...,0.008299,0.016521,0.102068,6.921877e-02,5.503286e-03,3.382799e-03,0.006707,3.659542e-02,2.802447e-06,100.000003
1,MP-1021,Camp de la Bruna cista,NaN,NaN,NaN,NaN,5th,BEAD,Annabergite,NaN,...,0.009582,20.832207,23.704500,9.143828e-06,7.201716e-03,8.350867e-06,0.025984,5.822545e-06,4.427644e-06,100.000004
2,MP-1022,Camp de la Bruna cista,NaN,NaN,NaN,NaN,5th,BEAD,Annabergite,NaN,...,0.000745,0.000936,0.824644,2.814755e-07,2.703553e-07,2.570657e-07,0.000841,1.792361e-07,1.362967e-07,100.000000
3,MP-1023,Camp de la Bruna cista,NaN,NaN,NaN,NaN,5th,BEAD,Annabergite,NaN,...,0.022770,0.029855,29.503928,1.108322e-05,7.664655e-03,1.012207e-05,0.000008,7.057499e-06,5.366741e-06,100.000005
4,MP-1024,Camp de la Bruna cista,NaN,NaN,NaN,NaN,5th,BEAD,Annabergite,NaN,...,0.005058,10.996925,13.612559,4.826852e-06,4.636157e-06,4.408264e-06,0.000004,3.073611e-06,2.337269e-06,100.000002